
.app{
  text-align: center;
  display: flex;
  padding: 10px;
  font-size: 15px;
  }
.button{
  outline: none;
  border: none;
  background-color: #9900ff;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
  width: 100;
  transition: 100ms;
  cursor: pointer;
}
.button:disabled{
  background-color: gray !important;
}
.button:hover{
  background-color: #cc80ff;
}